/*----------------------SEÇÃO VIDEO youtube   /   HOME--------------------*/
.secaoVideo{
    display: flex;
    padding: 15px;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  
  .textoVideo{
    width: 600px;
    height: 315px;
    padding: 0px 10px 0px 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .textoVideo p {
    font-size: 30pt;
  }
  
  .textoVideo h6 {
    color: #b31010;
  }


  @media(max-width: 500px){
    .textoVideo p {
        font-size: 10pt;
      }
    
  }


  @media(max-width: 700px){
    .secaoVideo{
        display: block;
      }

    .textoVideo{
        width: auto;
        padding: 0px 10px 0px 30px;
      }

      .textoVideo h6 {
        display: none;
      }
  }

  @media(max-width: 900px){
    .textoVideo p {
        font-size: 20pt;
      }
  }